body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #020617;
  padding: 20px;
  position: fixed;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
}

.content {
  margin-left: 240px;
  padding: 20px;
}
